* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 40vw;
    margin: auto;
    text-align: justify;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    background-color: #f0f0f0;
    color: #333333;
    padding: 2em;
}

p {
    margin-bottom: 1em;
    line-height: 1.5em;
}

h1 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h3 {
    margin-top: 2em;
    margin-bottom: 0.5em;
}