* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 50vw;
    min-width: 700px;
    margin: auto;
    text-align: justify;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    background-color: #f0f0f0;
    color: #333333;
    padding: 2em;
}

p {
    margin-bottom: 1em;
    line-height: 1.5em;
}

h1 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h3 {
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.interakce {
    margin-bottom: 2em;
    padding: 0 1em;
}

.interakce p {
    margin-top: 0.5em;
    font-style: italic;
}

.interakce canvas {
    display: block;
    margin: auto;
}

.ovladani {
    width: 100%;
    margin: auto;
}

#odraz_ovladani {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.2em;
    align-items: center;
}

#label_skladani_l,
#label_harmony_n {
    display: inline-block;
    width: 2em;
}